<block-ui>
  <div class="auth">
    <div class="auth_left">
      <div class="card">
        <div class="text-center mb-2">
          <a class="header-brand" [routerLink]="['../login']" href="javascript:void(0)"><i
            class="fe fe-command brand-logo"></i></a>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <div class="card-title">Login to your account</div>
            <div class="form-group">
              <select class="custom-select">
                <option>HR Dashboard</option>
                <option>Project Dashboard</option>
                <option>Job Portal</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text"
                     id="userName"
                     [(ngModel)]="user.userName"
                     class="form-control"
                     placeholder="Enter Username..."
                     name="userName"
                     formControlName="userName"
                     required
                     autofocus>
              <div *ngIf="formErrors.name" class="alert alert-danger">
                {{ formErrors.name }}
              </div>

            </div>
            <div class="form-group">
              <label class="form-label">Password <a [routerLink]="['../forgot-password']" href="javascript:void(0)"
                                                    class="float-right small">I forgot
                password</a></label>
              <input type="password" [(ngModel)]="user.password"
                     class="form-control"
                     placeholder="Enter Password... "
                     name="password"
                     formControlName="password"
                     required>

              <div *ngIf="formErrors.password" class="alert alert-danger">
                {{ formErrors.password }}
              </div>
            </div>
            <div class="form-group">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"/>
                <span class="custom-control-label">Remember me</span>
              </label>
            </div>
            <div class="form-footer">
              <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block"
                      title="">Sign in
              </button>
            </div>
          </div>
        </form>
        <!--<div class="text-center text-muted">
            Don't have account yet? <a [routerLink]="['../register']" href="javascript:void(0)">Sign up</a>
        </div>-->
      </div>
    </div>
    <div class="auth_right">
      <carousel [isAnimated]="true">
        <slide>
          <img src="assets/images/slider1.svg" class="img-fluid" alt="first slide">
          <div class="px-4 mt-4">
            <h4>Fully Responsive</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/images/slider2.svg" class="img-fluid" alt="second slide">
          <div class="px-4 mt-4">
            <h4>Quality Code and Easy Customizability</h4>
            <p>There are many variations of passages of Lorem Ipsum available.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/images/slider3.svg" class="img-fluid" alt="third slide">
          <div class="px-4 mt-4">
            <h4>Cross Browser Compatibility</h4>
            <p>Overview We're a group of women who want to learn JavaScript.</p>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</block-ui>
